<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <div class="root">
    <p>Headers: {{headers}}</p>
    </p>
  </div>


</body>
</html>
